.content
  .content__image
    = image_tag post.image.url, class: 'post__image' if post.image.present?
  .content__right
    .content__right__top
      = link_to post.title, post_path(post.id), class: "content__right__top--title"
    .content__right__bottom
      .content__right__bottom--userName
        = post.user.nickname
      .content__right__bottom--date
        = post.created_at
