body{
  background-color: #fffffff3;
  min-width: 650px;
  .alert_man {
    margin: 10px auto;
    color: #ffffff;
    border-radius: 20px;
    height: 35px;
    width: 33%;
    background-color: rgb(255, 107, 21);
    line-height: 35px;
    text-align: center;
  }
  .header{
    height: 80px;
    width: 100%;
    padding: 10px 150px;
    color: black;
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 30px;
      line-height: 56px;
      &--text{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-family: serif;
      }
      &--text:hover {
        color: rgb(0, 72, 205);
      }
    }
    
    &__right{
      box-shadow: 0 0 3px rgb(85, 85, 85);
      width: 350px;
      padding-left: 20px;
      .post__btn {
        background-color: #1b7eff;
        box-shadow: 0 0 3px rgb(85, 85, 85);
        width: 20px;
        height: 40px;
        border-radius: 60px;
        // border: solid #f6f6f6;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        position: absolute;
          top: 150px;
          right: 195px;
        z-index: 10;
        .giga-btn {
          color: #ffffff;
          text-decoration: none;
        }
      }
      .post__btn:hover {
        cursor: pointer;
        color: rgb(224, 224, 224);
        transform: scale(1.1, 1.1);
        transition: all 0.1s ease;
        background-color: rgb(37, 37, 200);
      }
      &--btn{
        text-decoration: none;
        line-height: 56px;
        color: black;
        margin-left:30px;
        font-weight: bold;
      }
      &--btn:hover {
        color: rgb(0, 72, 205);
      }
    }
  }
  
  .contents{
    margin: 70px auto 0;
    height: 900px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    position: relative;
    .content{
      height: 260px;
      width: 300px;
      border: 1px solid #f6f6f6;
      position: relative;
      background-color: #fff;
      margin: 5px;
      margin-bottom: 30px;
      border-radius: 5px;
      box-shadow: 0 0 3px rgb(85, 85, 85);
      overflow: hidden;
      &__image{
        height: 200px;
        width: 300px;
        text-align: center;
        border-bottom: solid  #f6f6f6;
        overflow: hidden;
        position: relative;
        img {
          width: auto;
          height: 200px;
          z-index: 0;
        }
        .title-man {
          z-index: 1;
          position: absolute;
            bottom: 2px;
            left: 5px;
        }
        .link1 {
          color: #ffffff;
          font-size: 21px;
          font-weight: bold;
          text-shadow: 1px 0 5px black;
          text-decoration: none;
        }
      }
      
      &__right{
        position: relative;
        width: calc(100%-100px);
        &__bottom{
          position: absolute;
            top: 5px;
            left: 4px;
          font-size: 15px;
          color: #999;
          &--userName{
            color: gray;
            font-weight: bold;
            &--btn{
              text-decoration: none;
              color: black;
            }
          }
          &--date{
            margin: 2px 2px;
          }
        }
      }
      &__title{
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
        text-align: center;
      }
    }
  }
}