.new-line {
  width: 100%;
  background-color: red;

}

.form{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  &__image {
    width: 50%;
    height: 30px;
    background-color: lightgray;
  }
  &__title{
    display: block;
    width: 100%;
    height: 50px;
  }
  &__text{
    display: block;
    width: 100%;
    height: 30%;
    margin-top: 50px;
  }
  &__btn{
    display: block;
    width: 30%;
    margin: 15px auto 0;
  }
}
.user{
  padding: 15px 30px;
}

