.content-man {
  margin: 0 auto 250px;
  width: 90%;
  height: 500px;
  border: solid 1px #f6f6f6; 
  box-shadow: 0 0 3px rgb(85, 85, 85);
  .show__image {
    text-align: center;
    margin-top: 9px;
    img {
      border: solid 1px #b1afaf;
    }
  }
  &__postTitle{
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  &__postDate{
    font-size: 15px;
    color: #999;
    text-align: center;
  }
  &__postAuthor{
    font-size: 15px;
    color: #999;
    text-align: center;
  }
  .postManage{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &__edit{
      display: block;
      border-radius: 5px;
      color: #ffffff;
      background-color:#35cec1;
      padding: 0 10px;
      text-decoration: none;
      margin-right: 10px;
    }
    &__edit:hover {
      background-color: rgb(37, 37, 200);
    }
    &__delete{
      display: block;
      border-radius: 5px;
      color: #ffffff;
      background-color:#35cec1;
      padding: 0 10px;
      text-decoration: none;
      margin-left: 10px;
    }
    &__delete:hover {
      background-color: rgb(37, 37, 200);
    }
  }
  &__postText{
    margin: 20px 30px;
    border: solid 1px #b1afaf;
    padding: 10px;
  }
}